.jihui-attention, .jihui-attention:visited {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.736);
}
.jihui-attention:hover,.jihui-attention:active {
    color: rgb(237, 68, 68);
    transition-duration: 500ms;
}
li {
    margin-left: 6vw;
}
p {
    margin-left: 3vw;
}
p, li {
    font-size: x-large;
    font-size: 3vh;
    line-height: 2.3;
}
h1 {
    font-weight:bolder;
    font-size: 5vh;
    margin-left: 3vw;
}
li::marker {
    color: rgb(237, 68, 68);
}
body {
    font-family: 'Architects Daughter';
}